:root {
    --theme-header: ;
    --dark-bg: #291d14;
    --dark-panel: #42342a;
    --dark-font: #ccb9ac;
    --dark-shadow: #af9f94;
    --dark-hilite: #e7d4c7;
    --dark-title: #5a483c;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, Arial, Helvetica, sans-serif;
    color: var(--dark-font);
    background-color: var(--dark-bg);
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid var(--dark-panel);
    border-bottom: 2px solid var(--dark-panel);
    background-color: var(--dark-title);
    border-radius: 0 0 15px 15px;
}
#title {
    font-size: 1.8rem;
    font-weight: 700;
    padding: .6rem 1rem;
}
#menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .6rem;
}
#mainPanel {
    margin-top: .5rem;
}
.tabs {
    // NOTE: Maybe set display to none and make a small icon based menu bar at the bottom for mobile?
    display: flex;
    justify-content: space-around;
    // flex-direction: column;
}
.tab {
    border-bottom: 1px solid var(--dark-hilite);
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding: .3rem;
}
.selectedTab {
    background-color: var(--dark-title);
    border-bottom: 1px solid black;
    border-radius: 10px 10px 0 0;
}
.resources {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    padding: .5rem 0;
    border: 1px solid var(--dark-hilite);
}
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid var(--dark-hilite);
    // overflow: hidden;
}
.card {
    // I want to somehow get this to be two columns at larger resolutions...
    border: 1px solid var(--dark-hilite);
    border-radius: 15px 0 15px 15px;
    margin: .3rem .3rem;
    padding: .35rem;
}


.cards h1 {
    padding: .45rem;
    border-radius: 10px 0px 50px 10px;
    margin: .3rem;
    background-color: var(--dark-title);
}
#footer {
    margin-top: .5rem;
    border: 1px solid var(--dark-hilite);
    text-align: center;
    padding: .7rem 0;
    font-weight: 700;
}

// If viewport is LARGER than 800px wide, make these adjustments.
@media (min-width: 800px) {
    #header {
        flex-direction: row;
    }
    #title {
        width: 50%;
    }
    #menu {
        margin: 0;
    }
    .card {
        width: 47%;
    }
    .tabs {
        flex-direction: row;
    }
    .tab {
        width: 100%;
    }
}